@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&family=Noto+Sans+KR:wght@300;500;700;900&display=swap");
html,
body,
header,
nav,
main,
aside,
section,
article,
figure,
figcaption,
footer,
div,
h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span,
ul,
li,
ol,
i,
code,
address,
strong,
form,
fieldset,
input,
textarea,
legend,
button,
summary,
details,
select,
option,
label,
img,
video,
svg {
  margin: 0;
  padding: 0;
  border: none;
  color: var(--text-800);
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -0.03vw;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  word-break: keep-all;
  float: none;
}
code {
  font-family: "Nanum Gothic Coding", sans-serif;
}
::selection {
  background-color: var(--theme-500);
  color: #fff;
}
:root {
  --inner-padding: 2rem;
  --card-padding: 2rem;
  --radius-3: 0.9rem;
  --radius-2: 0.6rem;
  --radius-1: 0.3rem;
  --app-bar-height: 14.2rem;

  --router-view-content-z-index: 5;
  --app-bar-z-index: 10;
  --hamburger-button-z-index: 15;
  --backdrop-close-button-z-index: 20;
  --tag-overay-z-index: 25;
  --search-bar-body-z-index: 30;
  --nav-z-index: 35;
  min-height: 100vh;
  background-color: var(--bg-100);
}
#app .pointer-device {
  display: none;
}

header,
nav,
main,
aside,
section,
article,
footer {
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
  font-weight: 700;
}
html {
  font-size: 0.625em;
}
a {
  text-decoration: none;
  cursor: default;
}
i {
  font-style: normal;
}
button {
  border-radius: 0;
  background-color: transparent;
  cursor: default;
}
ul,
li {
  list-style: none;
}
img {
  vertical-align: middle;
}
summary {
  list-style: none;
  &::-webkit-details-marker {
    display: none;
  }
}
.blind {
  clip: rect(1px 1px 1px 1px);
  clip-path: inset(50%);
  width: 1px !important;
  height: 1px !important;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}

.inner {
  padding: 0 var(--inner-padding);
}

*:focus {
  outline: none;
}
*::-webkit-scrollbar {
  display: none;
}
*::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 9999px;
}
.line-break {
  display: block;
}

.loading-target {
  animation: loading-animation 750ms ease-in-out infinite;
  background: linear-gradient(135deg, var(--bg-200), var(--bg-300));
  background-size: 200%;
  background-repeat: repeat-x;
  border-radius: 0.3rem;
}

@keyframes loading-animation {
  from {
    background-position-x: 0%;
  }
  to {
    background-position-x: 200%;
  }
}

@media screen and (min-width: 768px) {
  :root {
    --inner-padding: 5rem;
    --card-padding: 3rem;
  }
}

@media screen and (min-width: 1024px) {
  :root {
    --nav-z-index: 15;
    --backdrop-close-button-z-index: 20;
    --tag-overay-z-index: 25;
    --search-bar-body-z-index: 30;
    --hamburger-button-z-index: 35;
  }
}

@media (hover: hover) and (pointer: fine) {
  a,
  button,
  [role="progressbar"],
  [data-pointer="true"] {
    cursor: pointer;
  }
  #app .touch-device {
    display: none;
  }
  #app .pointer-device {
    display: block;
  }
}
